body {
  text-align: center;
}
img {
  width: 100%;
}

#map {
  height:40vh;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

/*https://www.w3schools.com/css/tryit.asp?filename=trycss_ex_images_card*/

div.shadow-pic {
  width: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-left: 15%;
  margin-right: 15%;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

/*https://www.w3schools.com/howto/howto_css_two_columns.asp*/

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*https://www.w3schools.com/Css/tryit.asp?filename=trycss_table_hover*/

table {
  margin: auto;
  border-collapse: collapse;
  width: 60%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}

#clock {
  font-size: 35px;
  text-align: center;
}