body {
  text-align: center;
}
img {
  width: 100%;
}

#map {
  height:40vh;
  width: 80%;
  margin-left: 15%;
  margin-right: 15%;
}

/*https://www.w3schools.com/css/tryit.asp?filename=trycss_ex_images_card*/

div.polaroid {
  width: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-left: 15%;
  margin-right: 15%;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

/*https://www.w3schools.com/howto/howto_css_two_columns.asp*/

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}